{
  "plugins": [
    ["module-resolver", {
      "root": [
        "./src/common",
        "./src/main",
        "./src/renderer"
      ],
      "alias": {
        "testHelpers": "./__tests__/testHelpers"
      }
    }]
  ],
  "env": {
    "test": {
      "presets": ["react"],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
